/* This css file is included by being imported in index.js */

#table {
    display: table;
    margin: 0 auto;
}

#resp-table-caption{
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px
}

#resp-table-header{
    display: table-header-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
}

.table-header-cell{
    display: table-cell;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 16px;
    min-width: 200px;
    color: #fff;
}

#resp-table-body{
    display: table-row-group;
}

.resp-table-row{
    display: table-row;
    border-bottom: 1px solid #333;
}

.table-body-cell{
    display: table-cell;
    font-size: 14px;
    min-width: 200px;
    padding: 10px;
}